@import './base.css';

#app {
  padding-left: 0px;
  color: var(--color-text);
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent-soft);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding-left: 0 0 0 0;
    /* width: 1180px;
    height: 899px; */
  }
}
