@import './base.css';

#app {
  padding-left: 0px;
  color: var(--color-text);
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent-soft);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    padding-left: 0;
  }
}
